<!DOCTYPE html>
<html>
    <head>
        <% include /inc_head.html %>
        <link rel="stylesheet" type="text/css" href="/css/login.css">
    </head>
    <body id="login-app">
        <% include /inc_navbar.html %>

        <div class="container login">

            <div class="row">
                

                <div class="span12">
                    <div class="login-screen">
                        <div class="login-icon">
                            <img src="/img/icon.png" alt="Welcome to Mail App">
                            <h4>Welcome to<small>Todo App</small>
                            </h4>
                        </div>
                        <div class="login-form">
                            <div class="control-group">
                                <input type="text" class="login-field" value="" placeholder="Enter your name" id="login-name">
                                <label class="login-field-icon fui-user" for="login-name">
                                </label>
                            </div>
                            <div class="control-group">
                                <input type="password" class="login-field" value="" placeholder="Password" id="login-pass">
                                <label class="login-field-icon fui-lock" for="login-pass">
                                </label>
                            </div>
                            <a class="btn btn-primary btn-large btn-block" href="#" id="login-btn">Login</a>
                            <a class="login-link" href="#">Lost your password?</a>
                        </div>
                    </div>
                </div>
                
                
            </div>

            
        </div>

        
        
        <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/login" ></script>
    </body>
</html>