<!DOCTYPE html>
<html>
    <head>
        <% include /inc_head.html %>
        
        <style>
            canvas {
                background: #000;
                margin-top: 50px;
            }
        </style>
    </head>
    <body id="app-canvas">
        <% include /inc_navbar.html %>
        
        <div class="container">
            <canvas width="1200" height="1200" id="solar-system">
                您的浏览器不支持Canvas
            </canvas>
        </div>

        <script>
            var canvas = document.getElementById("solar-system");
            var ctx = canvas.getContext("2d");

            /**
             * 轨道
             * -------------------------------------------------------
             */
            function drawTrack() {
                ctx.save();
                ctx.translate(600, 600);
                ctx.strokeStyle = "#eee";
                for(var i = 0; i < 8; i++) {
                    ctx.beginPath();
                    ctx.arc(0, 0, 80 + i * 60, 0, 2 * Math.PI, true);
                    ctx.stroke();
                    ctx.closePath();
                }
                ctx.restore();
            }

            /**
             * 太阳
             * -------------------------------------------------------
             */
            function drawSun() {
                ctx.save();
                ctx.beginPath();
                ctx.translate(600, 600);
                // 径向渐变色
                var sunColor = ctx.createRadialGradient(0, 0, 0,0, 0, 40);
                sunColor.addColorStop(0, "FF9900");
                sunColor.addColorStop(1, "#FFFF00");
                ctx.fillStyle = sunColor;
                ctx.arc(0, 0, 40, 0, 2 * Math.PI, true);
                ctx.fill();
                ctx.closePath();
                ctx.restore();
            }
            
            /**
             * 水星
             * -------------------------------------------------------
             */
            
            

            /**
             * 金星
             * -------------------------------------------------------
             */
            
            /**
             * 地球
             * -------------------------------------------------------
             */
            

            /**
             * 火星
             * -------------------------------------------------------
             */
            

            /**
             * 木星
             * -------------------------------------------------------
             */
            

            /**
             * 土星
             * -------------------------------------------------------
             */
            

            /**
             * 天王星
             * -------------------------------------------------------
             */
            

            /**
             * 海王星
             * -------------------------------------------------------
             */
            


            function draw() {
                drawTrack();
                drawSun();
            }

            window.onload = function() {
                draw();
            }
            

        </script>
        
        
        
    </body>
</html>