<!DOCTYPE html>
<html>
    <head>
        <% include /inc_head.html %>
        <link rel="stylesheet" type="text/css" href="/css/todos.css">
    </head>
    <body id="app-todos">
        <% include /inc_navbar.html %>

        <div class="container todos-container">

            <a href="/add" class="btn btn-large btn-block">Add a Todo</a>
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>_id</th>
                        <th>star</th>
                        <th>tag</th>
                        <th>title</th>
                        <th>user_id</th>
                        <th>done</th>
                        <th>编辑</th>
                        <th>删除</th>
                    </tr>
                </thead>
                <tbody class="todos-list"></tbody>
            </table>

        </div>


        
        
        <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/todos" ></script>
    </body>
</html>