<!DOCTYPE html>
<html>
    <head>
        <% include /inc_head.html %>
        <link rel="stylesheet" type="text/css" href="/css/userInfo.css">
    </head>
    <body id="app-userInfo">
        <% include /inc_navbar.html %>
        <div class="container main-container userInfo-container">
            <fieldset>
                <legend>用户详情</legend>
                
            </fieldset>
            
            
        </div>
        
        
        <script src="/seajs/sea.js" data-config="/js/config" data-main="/js/userInfo" ></script>
    </body>
</html>